<p></p>
<a class='button' href='/'>Home</a>
<style>
  .admin-labels {
    display: inline-block;
    min-width: 75px;
  }
</style>

<div class='filters'>
  <%= form_tag '/admin', method: :get do %>
    <label class='admin-labels' for='user-filter'>User: </label>
    <input type='text' name='user-filter' value='<%= params['user-filter'] %>'>
    <br>

    <label class='admin-labels' for='category-filter'>Category: </label>
    <%= select_tag 'category-filter', options_for_select(Expense.categories,
                                                         params['category-filter']),
                                     include_blank: true %>
    <br>

    <label class='admin-labels' for='sort'>Sort By: </label>
    <%= select_tag 'sort', options_for_select(@column_options,
                                              params['sort']),
                          include_blank: true %>
    <br>

    <label class='admin-labels' for='dir'>Dir: </label>
    <%= select_tag 'dir', options_for_select(@dir_options,
                                             params['dir']) %>
    <br>
    <%= submit_tag 'Go' %>
  <% end %>
</div>

<h1>All Expenses Reported</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Category</th>
      <th>Date</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= number_to_currency expense.amount %></td>
        <td><%= expense.category %></td>
        <td><%= expense.date %></td>
        <td><%= link_to expense.user.name,
                        dashboard_path(user_id: expense.user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @expenses %>
