<style>
span.bold {
  font-weight: bold;
}
</style>

<p></p>

<a class='button' href='/'>Home</a>
<h1>Information for "<%= @user.name %>"</h1>

<p>
<%= @user.name %> has submitted
<span class='bold'> <%= @num_expenses %></span>
expenses with the earliest one dated at
<span class='bold'><%= @first_expense_date.to_s :long_ordinal %></span>
and the most recent one dated at
<span class='bold'><%= @last_expense_date.to_s :long_ordinal %></span>.
</p>

<h4>Cumulative Expenses</h4>
<p>
<%= number_to_currency @user_expenses_total %>
</p>

<h4>Average expenses</h4>
<p>
<%= number_to_currency @average_expenses_total %>
</p>

<h4>User Past Week</h4>
<p>
<%= number_to_currency @user_past_week %>
</p>

<h4>User Average Week</h4>
<p>
<%= number_to_currency @all_past_week %>
</p>

<div class='tables'>
  <table>
    <tr>
      <th>&nbsp;</th>
      <% @categories.each do |category| %>
        <th> <%= category %> </th>
      <% end %>
    </tr>

    <tr>
      <td style='font-weight:bold'> <%= @user.name %> Avg Week </td>

      <% @user_avg_categories.each do |value| %>
        <td> <%= number_to_currency value %> </td>
      <% end %>
    </tr>

    <tr>
      <td style='font-weight:bold'> <%= @user.name %> Past Week </td>

      <% @user_past_week_categories.each do |value| %>
        <td> <%= number_to_currency value %> </td>
      <% end %>
    </tr>

    <tr>
      <td style='font-weight:bold'> Class Average </td>

      <% @class_average_categories.each do |value| %>
        <td> <%= number_to_currency value %> </td>
      <% end %>
    </tr>

  </table>
</div>


<h4>Charts</h4>
<div id='past-week-container' style='min-width: 310px; height: 600px; max-width: 600px; margin: 0 auto'></div>
<div id='avg-week-container' style='min-width: 310px; height: 600px; max-width: 600px; margin: 0 auto'></div>

<script>
$(function () {
    $('#past-week-container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Expenses for the past week'
        },
        tooltip: {
            pointFormat: '<b>${point.y:.2f}</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Expenses',
            colorByPoint: true,
            data: <%= @past_week_json_data %>
        }]
    });

    $('#avg-week-container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Avg Expenses'
        },
        tooltip: {
            pointFormat: '<b>${point.y:.2f}</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Expenses',
            colorByPoint: true,
            data: <%= @avg_week_json_data %>
        }]
    });
    $.getJSON('/cccdata', function(data){
      window.d = data;
      var percentages = data.map(function(el){ return "<td>" + el.value + "</td>"; });
      var percentage_row = percentages.reduce( function(previousValue, currentValue, currentIndex, array){
        return previousValue + currentValue;
      });

      var categories = data.map(function(el){ return "<th>" + el.category + "</th>"; });
      var categories_row = categories.reduce( function(previousValue, currentValue, currentIndex, array){
        return previousValue + currentValue;
      });

      var table = '<table><tbody>';
      table += '<tr>' + '<td>&nbsp;</td>' + categories_row + '</tr>';
      table += '<tr>' + '<th>US Avg</th>' + percentage_row + '</tr>';


      $('.tables').append(table);
    });
});
</script>

