<% if current_user %>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'button' %>
  <% if current_user.admin %>
    <%= link_to 'Admin Page', admin_path, class: 'button' %>
  <% else %>
    <%= link_to 'Record New Expense', new_expense_path, class: 'button' %>
    <%= link_to "Dashboard", dashboard_path, class: 'button' %>
  <% end %>
<% else %>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'button' %>
    <%= link_to 'Sign In', new_user_session_path, class: 'button' %>
<% end %>



<h2>Class Expenses</h2>
<h4>All-Time Expense Total</h4>
<%= number_to_currency @total_expenses %>
<br>

<h4>Weekly Expense Breakdown</h4>
<table>
  <tr>
    <th>&nbsp;</th>
    <% @categories.each do |category| %>
      <th> <%= category %> </th>
    <% end %>
    <th>Total</th>
  </tr>

  <tr>
    <td style='font-weight:bold'> <%= @user %> Avg Week </td>

    <% @avg_categories.each do |value| %>
      <td> <%= number_to_currency value %> </td>
    <% end %>

    <td> <%= number_to_currency @avg_weekly_expenses%> </td>
  </tr>

  <tr>
    <td style='font-weight:bold'> <%= @user %> Past Week </td>

    <% @past_week_categories.each do |value| %>
      <td> <%= number_to_currency value %> </td>
    <% end %>

    <td> <%= number_to_currency @past_week_expenses%> </td>
  </tr>
</table>
