<p id="notice"><%= notice %></p>

<%= link_to 'Record New Expense', new_expense_path %>

<h1>Listing Expenses</h1>
<h2>All-Time Expense Total</h2>
<%= number_to_currency @total_expenses %>
<br>

<h2>Weekly Expenses</h2>
<table rules='all'>
  <tr>
    <th>&nbsp;</th>
    <% @categories.each do |category| %>
      <th> <%= category %> </th>
    <% end %>
    <th>Total</th>
  </tr>

  <tr>
    <td style='font-weight:bold'> <%= @user %> Avg Week </td>

    <% @avg_categories.each do |value| %>
      <td> <%= number_to_currency value %> </td>
    <% end %>

    <td> <%= number_to_currency @avg_weekly_expenses%> </td>
  </tr>

  <tr>
    <td style='font-weight:bold'> <%= @user %> Past Week </td>

    <% @past_week_categories.each do |value| %>
      <td> <%= number_to_currency value %> </td>
    <% end %>

    <td> <%= number_to_currency @past_weekly_expenses%> </td>
  </tr>
</table>

<h3>Search By User</h3>
<%= form_tag 'info', method: :get do %>
  <label for='user'>User: </label>
  <input type='text' name='user'>
  <%= submit_tag 'Go' %>
<% end %>
