<style>
span.bold {
  font-weight: bold;
}
</style>

<p id="notice"><%= notice %></p>

<a class='button' href='/'>Home</a>
<h1>Information for "<%= @user %>"</h1>

<p>
<%= @user %> has submitted
<span class='bold'> <%= @num_expenses %></span>
expenses with the earliest one dated at
<span class='bold'><%= @first_expense_date.to_s :long_ordinal %></span>
and the most recent one dated at
<span class='bold'><%= @last_expense_date.to_s :long_ordinal %></span>.
</p>

<h4>Cumulative Expenses</h4>
<p>
<%= number_to_currency @user_expenses_total %>
</p>

<h4>Average expenses</h4>
<p>
<%= number_to_currency @average_expenses_total %>
</p>

<h4>User Past Week</h4>
<p>
<%= number_to_currency @user_past_week %>
</p>

<h4>Average Past Week</h4>
<p>
<%= number_to_currency @all_past_week %>
</p>


<table>
  <tr>
    <th>&nbsp;</th>
    <% @categories.each do |category| %>
      <th> <%= category %> </th>
    <% end %>
  </tr>

  <tr>
    <td style='font-weight:bold'> <%= @user %> Avg Week </td>

    <% @user_avg_categories.each do |value| %>
      <td> <%= number_to_currency value %> </td>
    <% end %>
  </tr>

  <tr>
    <td style='font-weight:bold'> <%= @user %> Past Week </td>

    <% @user_past_week_categories.each do |value| %>
      <td> <%= number_to_currency value %> </td>
    <% end %>
  </tr>



</table>
